body {
    background-color: #f8f8f8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

header {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-bottom: 30px;
}

header img {
    float: left;
    width: 50px;
    
}

nav {
    float: right;
    line-height: 20px;
    margin-top: 6px;
}

a {
    float: left;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    border: 5px solid transparent;
    border-radius: 15px;
}
 a:last-child {
     border-color: #9e9e9e;
     text-transform: uppercase;
     margin-left: 15px;
 }

main {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}

div {
    width: 45%;
    float: left;
    margin-top: 30px;
}

h1 {
    font-size: 100px;
    margin: 0;
    color: #9E9E9E;
}

p {
    font-size: 32px;
    margin: 0;
    color: #afafaf;
}

main img {
    width: 50%;
    float: right;
}